
.centered-content {
  margin: 10% auto;
  max-width: 60%;
}

.centered-content-button-textfield {
  margin: 1% auto;
  width: 35%;
}

.success-message {
  text-align-last: center;
  pointer-events: none;
  font-size: 140%;
  font-weight: bolder;
  border-radius: 5px;
  background: #0294A5;
  color: #16235A;
  margin: 1%;
  width: 98%;
  padding: initial;
}

.v-grid {
  margin: 1%;
}



